<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>transactions_venue_api.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="FILE" />
	</root>

	<root level="info">
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>